@import 'variables';
@import '~bootstrap/scss/bootstrap';
@import url('https://fonts.googleapis.com/css2?family=Noto+Sans+JP&display=swap');

body {
    font-size: 1rem;
    font-family: 'Noto Sans JP', sans-serif;
    line-height: $line-height-base;
}

.cursor {
    cursor: pointer;
}

@media (min-width: $grid-breakpoints-xl) {
    .mw-75 {
        max-width: 75%;
    }

    .mw-50 {
        max-width: 50%;
    }
}

.sidebar {
    position: fixed;
    top: 0;
    bottom: 0;
    left: 0;
    z-index: 100;
    padding: 48px 0 0;
    box-shadow: inset -1px 0 0 rgba(0, 0, 0, .1);

    @media (max-width: 767.98px) {
        top: 5rem;
    }

    .nav-link {
        font-weight: 500;
        color: #333;
    }

    &.active {
        color: #007bff;
    }

    .sidebar-heading {
        font-size: .75rem;
        text-transform: uppercase;
    }
}

.navbar {
    .navbar-brand {
        padding-top: .75rem;
        padding-bottom: .75rem;
        font-size: 1rem;
        background-color: rgba(0, 0, 0, .25);
        box-shadow: inset -1px 0 0 rgba(0, 0, 0, .25);
    }

    .navbar-toggler {
        top: .25rem;
        right: 1rem;
    }

    .form-control {
        padding: .75rem 1rem;
        border-width: 0;
        border-radius: 0;
    }

    .form-control-dark {
        color: #fff;
        background-color: rgba(255, 255, 255, .1);
        border-color: rgba(255, 255, 255, .1);

        &:focus {
            border-color: transparent;
            box-shadow: 0 0 0 3px rgba(255, 255, 255, .25);
        }
    }
}

.breadcrumb-nav {
    .breadcrumb {
        .breadcrumb-item {
            &:first-of-type {
                font-weight: bold;
            }

            a {
                color: #333;
                text-decoration: none;
            }

            &.active {
                a {
                    color: rgba(51, 51, 51, 0.8);
                }
            }
        }
    }
}

.document-text {
    h2 {
        margin-top: 1.5em;
    }

    h3 {
        font-size: 1.5rem;
    }
}

.stretched-link, .stretched-link:hover {
    color: inherit;
    text-decoration: none;
}
